.termos {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    h1 {
        margin-bottom: 3rem;
    }

    p {
        color: #595959;
    }

    button {
        background-color: var(--green-500);
        color: #ffffff;
        border: none;
        padding: 10px 40px;
        border-radius: 20px;
        margin-top: 2rem;
    }

    button:hover {
        background-color: var(--green-800);

    }
}