.bankSection {
  text-align: center;
  margin-top: 210px;
}
.bankCarrousel {
  width: 100%;
  text-align: center;
  margin-top: 133px;
  margin-bottom: 323px;
}
.section1 {
  display: flex;
  justify-content:space-between
}

.slider {
  height: 250px;
  margin: auto;
  width: 80%;
  display: grid;
  place-items: center;
  overflow: hidden
}
.slideTrack {
  display: flex;
  width: calc(250px * 28);
  animation: scroll 60s linear infinite;
}
.slideTrack:hover {
  animation-play-state: paused;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 15));
  }
}
.slide {
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
  img {
    width: 100%;
    transition: transform 1s;
  }
  img:hover {
    transform: translateZ(30px)
  }
}
.slider::before,
.slider::after {
  // background: linear-gradient(to right, rgba(255,255,255,1) ,
  // rgba(255,255,255,0) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}
.slider::before {
  left: 0;
  top: 0
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotate(180deg);
}
@media screen and (max-width: 812px){
  .bankSection{
    margin-top: 75px;
  }
  .bankCarrousel {
    width: 100%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .slide {
    padding: 0;
    img{
      width: 70%
    }
  }
}
